$main-bg-color: rgb(94, 93, 91);
$feature-bg-color: rgb(98, 148, 160);
$highlight-color: rgb(141, 181, 207);
$highlight-color-shadow: rgb(85, 134, 141);
$font-color-main: rgb(238, 238, 238);
$focus-color: rgb(228, 182, 30);
$section-color: rgb(255,255,255);