$main-bg-color: rgb(94, 93, 91);
$feature-bg-color: rgb(98, 160, 144);
$highlight-color: rgb(141, 181, 207);
$highlight-color-shadow: rgb(85, 141, 127);
$font-color-main: rgb(238, 238, 238);
$focus-color: rgb(245, 220, 0);